<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>AYSO Section 1: {% block title %}Referee Scheduler{% endblock %}</title>

    {% block head %}{% endblock %}

    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">#}
    <link href='{{ env_uri }}/css/bootstrap.min.css' rel='stylesheet' type='text/css'/>
    <link href='{{ env_uri }}/css/app.css' rel='stylesheet' type='text/css'/>
</head>

<body>
<div class="banner">
    {{ banner | raw }}
</div>
<div class="maincontent">
    {% block layout %}{% endblock %}

    <!-- footer -->
    <div class="footer clear-fix">
        <hr>
        <div class="center">
            <p>Questions? Contact the <a href="mailto:{{ assignoremail }}">Section 1 Referee Assignor.</a></p>
            {% if ( view.admin ) %}
                <p>Find an issue with the Scheduler? Log it in the <a href="{{ issueTracker }}"
                                                                      target="_blank">issue tracker</a><a
                            href='{{ env_uri }}/adm'>.</a></p>
            {% else %}
                <p>Find an issue with the Scheduler? Log it in the <a href="{{ issueTracker }}"
                                                                      target="_blank">issue tracker.</a></p>
            {% endif %}
            <p>{{ version() }}</p>
        </div>
        {#<!--<a href="/">Home</a> - <a href="#">Contact Us</a><br>-->#}
        {#</a>Corrections or additions to this web page can be sent to: <a href="mailto:web.ayso@gmail.com">web.ayso@gmail.com</a><br>#}
        {#&copy;2016  <a href="http://aysosection1.org">Section 1</a>, American Youth Soccer Organization <br/>#}
        {#AYSO logos and graphics copyright by the <a href="http://www.ayso.org" class="flinks">American Youth Soccer Organization</a> and used with permission.#}
        {#</span></p>#}
    </div>

</div>
</body>

{#<script type="text/javascript">#}
{#var _gaq = _gaq || [];#}
{#_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);#}
{#_gaq.push(['_trackPageview']);#}

{#(function () {#}
{#var ga = document.createElement('script');#}
{#ga.type = 'text/javascript';#}
{#ga.async = true;#}
{#ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';#}
{#var s = document.getElementsByTagName('script')[0];#}
{#s.parentNode.insertBefore(ga, s);#}
{#})();#}
{#//</script>#}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block script %}{% endblock %}
</html>
