{% extends "layout.html.twig" %}

{% block content %}
    
    <h2 align="center">
        {{ view.title | raw }}<br>
        {{ view.location | raw }}<br>
        {{ view.dates | raw }}
    </h2>
    <h3 align="center">{{ view.description | raw }}</h3>
    
    <span style="color: #FF0000">{{ view.message | raw }}</span>
    
    {{ view.topmenu | raw }}

    {{ view.content | raw }}

    {{ view.menu | raw }}
        
{% endblock %}
