{% extends "layout.html.twig" %}

{% block content %}
    
    <h2 class="center">
        {{ view.title | raw }}<br>
        {{ view.location | raw }}<br>
        {{ view.dates | raw }}
    </h2>
    <h3 class="center">{{ view.description | raw }}</h3>
    
    <span class="center" style="color: #FF0000">{{ view.message | raw }}</span>
    
    {{ view.topmenu | raw }}

    {{ view.content | raw }}

    {{ view.menu | raw }}

    <!-- Modal -->
    <div class="modal fade" id="infoModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" style="text-align:center">Referee Information</h4>
                </div>
                <div class="modal-body">
                    <!-- info goes here -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- end Modal -->

{% endblock %}

{% block script %}
    <script>
        $('.info').click(function(e){
            e.preventDefault();

            var id = e.target.id; // Extract info from data-* attributes
            var modal = $('#infoModal');
            var url = '/info/' + id;

            $.ajax({
                type: "GET",
                url: url,
                data: null,
                cache: false,
                success: function (data) {
                    console.log(data);
                    modal.find('.modal-body').html(data);
                    modal.modal('show');
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
    </script>{% endblock %}