{% extends "layout.html.twig" %}

{% block content %}
<table width="98%"  class="maincontent">
  <tr>
    <td align="center" class="contentarea">
     
			<div align="center">
				<h1>Section 1 Event Schedule</h1>

                {% for event in events %}
				<h3>{{ event.name }}, {{ event.location }}<br>
					{{ event.dates }}</h3>
                {% endfor %}
			</div>
			<hr>
    </td>
	</tr>
	<tr>
		<td>
    <p class="center"><span style="color: #FF0000">{{ message | raw }}</span></p>
		{{ content | raw }}
		
		</td>
	</tr>
		
</table>
{% endblock %}
